@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



@theme {
  --color-primary: #C97B4A;      
  --color-primary-dark: #3E2C23;   
  --color-secondary: #2F5D50;      
  --color-secondary-light: #A8C3B8; 
  --color-dark-white: #FAF6F1;     
}
@theme {
  --font-josefin: "Josefin Sans", Sans-serif;
  --font-lato: "Lato", Sans-serif;
}

@layer components {
  .container {
    @apply mx-auto px-3;
  }
}





